<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%= title %></title>
  <link rel="stylesheet" href="./styles/main.css?v=<%= version %>">
</head>
<body>
<h1>Add a cheesy quote here with the magic of javascript</h1>
<div class="teaser">
  <img src="./images/cheese.jpg" alt="many cheeses, so wow">
  <p>
    <!-- the word gorgonzola will be replaced -->
    Spectacular gorgonzola photo by
    <a href="https://www.flickr.com/photos/haynes/">Charles Haynes</a>
  </p>
</div>
<script type="text/javascript" src="scripts/main.js?v=<%= version %>"></script>
</body>
</html>
